*.swp
*.exe

bin

.gopath

bsondump/main/bsondump
mongodump/main/mongodump
mongoexport/main/mongoexport
mongofiles/main/mongofiles
mongoimport/main/mongoimport 
mongooplog/main/mongooplog
mongorestore/main/mongorestore
mongostat/main/mongostat
mongotop/main/mongotop
